@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.break {
    width: 100%;
    height: 1px;
}

@media (min-width: 500px)
{
    .header {
        max-height: 5rem;
    }

    .header_logo {
        max-width: 10rem;
    }
}

@media (max-width: 1145px)
{
    #invisible {
        display: none;
    }

    .topo {
        margin: 1rem 0 0 0 !important;
    }
}

@media (min-width: 1045px)
{
    .sobre {
        width: 81%;
        justify-content: space-between !important;
    }
    
    .sobre > .text {
        width: 40% !important;
    }

    .sobre > .fotos {
        max-width: 500px;
        height: auto;
        margin: 0;
    }

    .google_map {
        width: 45% !important;
    }

    .complemento_mapa {
        width: 45% !important;
    }
}

@media (max-width: 320px)
{
    .titulo > p {
        font-size: large;
    }

    .odonto-servico {
        min-width: 250px !important;
    }
}

.header {
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
}

.header_logo {
    width: 40%;
    height: auto;
    margin-bottom: .5rem;
    margin-left: .3rem;
    cursor: pointer;
}

.sandwich_menu {
    font-size: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    color: #808080;
}

.sandwich_drop {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #808080;
    top: 3rem;
    right: 0;
    margin-right: 1rem;
    width: 75%;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 200ms linear;
}

.sandwich_drop:after {
    position: absolute;
    top: -0.5rem;
    right: 1.4rem;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #808080;
    content: '';
    display: block;
    z-index: 2;
    transition: all 200ms linear;
}

.drop_link {
    position: relative;
    color: #fff;
    transition: all 200ms linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: .5rem;
    margin: 2px 0;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.drop_link:hover {
    color: #808080;
    background-color: #b6b6b6;
}

.drop_link > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    margin-right: .5rem;
}

#clinicas {
    margin-bottom: 1rem;
}

.clinicas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.clinicas > .text {
    margin-top: 1.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #808080;
}

.square {
    display: flex;
    width: 90%;
    max-height: 100px;
    margin-top: 1rem;
    cursor: pointer;
    transform: scale(.9);
    transition: .4s;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
}

.square:hover {
    transform: scale(1);
}

.square:hover .thumb-title {
    background-color: #00000090;
}

.thumbnail {
    max-width: 100%;
    object-fit: cover;
}

.thumb-title {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000060;
    letter-spacing: 3px;
}

#sobre-link {
    position: relative;
    top: -80px;
    opacity: 0;
    pointer-events: none;
}

#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.undb.edu.br/hubfs/Lancamentos-UNDB.jpg); 
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom: 1rem;
}

.sobre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
}

.sobre > .text {
    width: 90%;
    color: #f1f1f1;
}

.sobre > .text > h1 {
    font-size: 2rem;
    letter-spacing: 5px;
    color: #f144ad;
}

.fotos {
    margin-top: 1rem;
    max-width: 90%;
}

#local-link {
    position: relative;
    top: -80px;
    opacity: 0;
    pointer-events: none;
}

#local {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.local {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-repeat:no-repeat;
    background-size:cover;
    padding: 1rem 0px;
    min-height: 350px;
    width: 90%;
}

.google_map {
    width: 90%;
    min-height: 220px;
}

.google_map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
}

.complemento_mapa {
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
}

.complemento_mapa > .text {
    padding: 1rem;
    color:#808080;
}

.complemento_mapa > .text > h1 {
    font-size: 2rem;
    letter-spacing: 3px;
    color: #662d91;
}

#instrucoes-link {
    position: relative;
    top: -80px;
    opacity: 0;
    pointer-events: none;
}

#instrucoes {
    background-color: #e5e5e5;
    min-height: 400px;
    margin-bottom: 1rem;
}

#faq-link {
    position: relative;
    top: -80px;
    opacity: 0;
    pointer-events: none;
}

#faq {
    min-height: 300px;
    margin-bottom: 1rem;
}

#servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos > .text {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e5e5e5;
}

.odonto-servicos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1rem 0 1rem;
}

.odonto-servico {
    min-width: 350px;
    width: 33%;
    margin-bottom: 1rem;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    letter-spacing: 1px;
}

.odonto-servico > h1 {
    display: flex;
    align-self: center;
    max-width: 75%;
}

.odonto-icon {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
    margin-left: .5rem;
    font-size: smaller;
}

.odonto-servico > p {
    color: #808080;
    align-self: center;
    margin-left: 1.8rem;
}



.boxes {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e5e5e5;
    width: 100%;
}

.box > p {
    color: #808080;
}

.box {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.box > i {
    font-size: 5rem;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}

.topo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0 2rem 0;
}

.horarios {
    width: 700px;
    height: 180px;
    margin: 1rem;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
    background: url(./imagens/horario.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    color: white;
}

.agendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 180px;
    margin: 1rem;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
    color: white;
    background: url(./imagens/agendar.jpg);
    background-repeat: no-repeat;
    background-size: 135%;
    background-position-y: bottom;
}

.escurecer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
}


.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    margin: 1rem 0 .5rem 0;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.titulo > i {
    margin-right: .5rem;
    color: white;
}

.subtitulo {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    width: 250px;
    color: white;
}

.subtitulo > i {
    margin-right: .5rem;
    color: white;
}